
*{
    display: block;
    margin: 8px;
}
span{
    background-color: yellow;
    font-weight: bold;
    display: inline;
    margin: 0px;
}
p{
    color: blue;
    
}
h2{
    margin-top: 18;
    margin-bottom: 18;
}

